.Home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:hsl(240, 79%, 70%);
}
#para{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 30px;
    font-weight: 600;
}
@media (max-width:600px) {
    .Home{
        display: block;
    }
    .card{
        display: block;
        height: 400px;
        width: 300px;
        margin: auto;
    }
}
.NavBar{
    position: sticky;
    top: 0px;
    z-index: 1;
}
#pincodeapi{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(118, 118, 239);
    color: white;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: black;
    text-decoration: none;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    height: 400px;
    width: 500px;
    overflow-x: scroll;
}
.card label{
    font-size: large;
    font-style: italic;
    font-size: 25px;
}
.card h2{
    text-decoration: underline;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.cardsApi{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(213, 255, 173);
    margin-bottom: 15px;
}
.cardsApi h2{
    text-decoration: underline;
}
.cardsApi label{
    font-size: 20px;
}