html {
  font-size: 76%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: whitesmoke;
}
html::-webkit-scrollbar-thumb {
  background: blue;
}

.Home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  background-color: hsl(240, 96%, 79%);
  padding: 1rem 2rem;
}
#para {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  height: 40px;
  font-size: 2rem;
  font-weight: 600;
}
.NavBar {
  position: sticky;
  top: 0px;
  z-index: 1;
  font-size: 1.6rem;
}
#pincodeapi {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(118, 118, 239);
  color: white;
  font-size: 3rem;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
a {
  color: black;
  text-decoration: none;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 30rem;
  overflow-x: scroll;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px black;
}
.card label {
  font-size: large;
  font-style: italic;
  font-size: 2rem;
}
.card h2 {
  text-decoration: underline;
}
/* Loader */
.loader {
  margin: 15% auto;
  --clr: rgb(97, 97, 245);
  /* color of spining  */
  width: 80px;
  height: 80px;
  position: relative;
 }
 
 .loader:before, .loader:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: var(--clr);
 }
 
 .loader:before {
  z-index: 100;
  animation: spin 1s infinite;
 }
 
 .loader:after {
  border: 10px solid #ccc;
 }
 
 @keyframes spin {
  0% {
   -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
  }
 
  100% {
   -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
  }
 }
 

.cardsApi {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 0.2rem;
  background-color: rgb(213, 255, 173);
  margin-bottom: 15px;
  padding-left: 2rem;
}
.cardsApi h2 {
  text-decoration: underline;
}
.cardsApi label {
  font-size: 2rem;
}

/* Responsiveness */
@media (max-width: 769px) {
  html {
    font-size: 60%;
  }
  .Home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
  }
}
@media (max-width: 426px) {
  .NavBar {
    font-size: 1.5rem;
  }
  .Home {
    display: block;
    padding: 1.5rem 6rem;
  }
  .card {
    padding: 2rem 0.4rem;
    margin-bottom: 1rem;
  }
  .cardsApi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.2rem;
    padding-left: 0.8rem;
  }
  #pincodeapi {
    font-size: 2.2rem;
  }
}
